src/main/resources/folder.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.sapgcp.com/xml/sar"
	targetNamespace="http://www.sapgcp.com/xml/sar"
	elementFormDefault="qualified">

	<xs:element name="FolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer_id" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="FolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>